.background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: auto;
    padding: 0;
    background-image: url(https://img.freepik.com/free-photo/white-background_23-2147730801.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
